body{
    height: 100vh;
}
.container {
    max-width: 955px;
    margin: auto;
    padding: 33px;
    background-color: antiquewhite;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    background-color: rgb(255, 255, 255);
    width: 24%;
    margin: 17px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px rgb(210, 219, 227);
}

.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}



#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

#messageInp{
    width: 43%;
}